*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Navbar */

nav {
    background-color: #fff;
    width: 90%;
    display:flex;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.logo img {
    width: 13%;
    display: inline;
    align-items: center;
    text-align: center;
}
ul{
    list-style: none;
    display: inline;
}
.menu ul li a {
    color: red;
    text-decoration: none;
    
}
ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    font-weight: 700;
    font-size: 0.8em;
}
.navbar{
    height: 70px;
    background-color: var(--negro);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Header */


.hero__banner{
    background-image: linear-gradient(to bottom, #80808081, #80808081)   ,url(assets/pexels-edward-eyer-1066860.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}

.hero__box{
    text-align: center;
    height: auto;

}


.hero__box--title{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
}

.hero__box--text{
    color: #fff;
    font-size: 17px;
    margin-bottom: 40px;
}



.hero__box--button{
    color: #fff;
    padding: 15px 30px;
    background-color: #fe001a;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    
}

.hero__box--button:hover{
    color: #fe001a;
    padding: 15px 30px;
    background-color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s;
    border: none;
    transform: scale(1.01);
    box-shadow: 0 3px 15px -2px rgb(99, 99, 99);
    
    
}

/* services styling */

.services {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
    height: 730px;
}

.services .service{
    width: 500px;
    height: 570px;
    border: 2px solid black;
}

.services .service img{
    width: 100%;
}

.services .service h2{
    font-size: 38px;
    padding: 10px 15px;
}

.services .service .text{
    padding: 10px 15px;
}

.services .service .text p{
    font-size: 20px;
    font-weight: 600;
}

.services .service .btn{
    width: 160px;
    padding: 20px 25px;
    background: none;
    border: 2px solid red;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0 0 15px;
}

.services .service .btn a{
    cursor: pointer;
    text-decoration: none;
    color: red;
}





